# requirements.txt

# --- 기존 라이브러리 ---
# fastapi
uvicorn[standard]
# httpx
# python-dotenv

langchain                   # 랭체인 코어 라이브러리
langchain-groq              # Groq LLM 연동을 위한 라이브러리
pandas                      # CSV 데이터 처리를 위함

# Vector DB 및 임베딩 모델 관련
faiss-cpu                   # 로컬 Vector DB 
langchain_community         # 커뮤니티 기반의 다양한 컴포넌트 (Loader, Embeddings 등)
sentence-transformers       # HuggingFace 임베딩 모델을 사용하기 위함